[submodule "providers/pia"]
	path = providers/pia
	url = https://github.com/passepartoutvpn/api-source-pia
[submodule "providers/tunnelbear"]
	path = providers/tunnelbear
	url = https://github.com/passepartoutvpn/api-source-tunnelbear
